body {
    background-color : black;
    color : white;
    margin : 40px;
    font-family : 'Helvetica';
}

h1 {
    font-family: brim-narrow-combined-1, sans-serif;
    font-weight: 400;
    text-align : center;
    color : white;
    font-size : 7em;
}